September 2018
13.09 - 35,66
14.09 - 189, 11
18.09 - 1, 15(M)
21.09 - 15(M) (finished)
22.09 - 18(M)
24.09 - 3(H), 76(H)

October 2018
03.10 - 438(E)
04.10 - 3(M)
17.10 - 30(H)
19.10 - 451(M)
23.10 - 242(E), 819(E)
25.10 - 56(M), 349 (E)
26.10 - 57(H)

February 2019
16.02 - 387(E)
16.02 - 384(E)
16.02 - 186(M)
16.02 - 165(M)
16.02 - 325(M)
18.02 - 238(M)

March 2019
03.03 - 394(M) Decode String
06.03 - 70(E) ClimbingStairs
07.03 - 256(E) Paint House
09.03 - 121(E) Best Time to Buy and Sell Stock
10.03 - 746(E) Min Cost Climbing Stairs
11.03 - 53(E) Maximum Subarray
12.03 - 196(M) House Robber
13.03 - 303(E) Range Sum Query - Immutable
15.03 - FixedArrayQueue, DynamicArrayQueue, Moving Average
16.03 - BinaryTreePreOrderTraversal, BinaryTreeInOrderTraversal
21.03 - BinaryLevelOrderTraversal, BinaryPostOrderTraversal
22.03 - BinaryTreeMaxDepth


1) Read problem definition carefully
2) Try to come up with clarifying questions
3) Create examples for common and corner cases
4) Come up with the simplest solution and its time and space complexity
5) Try to come up with more optimal solution
6) Design API for the solution
7) Write code on whiteboard/paper
8) Debug code on whiteboard/paper with new test cases
9) Copy code to the IDE and run in
*) OpenJDK doesn't install javaFX by default. Some classes in this repo use javafx.util.Pair.
You have to install javaFX manually (for example):
https://stackoverflow.com/questions/27178895/cannot-resolve-symbol-javafx-application-in-intellij-idea-ide